<div class="container">
  <div class="row">
    <div class="col-md-12 logout-admin">
      <a href="<%= erb '/'  %>">Home</a>
      <a href="<%= erb '/logout'  %>">Logout</a>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 text-center-here">
      <h1>Hello Owner, Review you Comments and Images and Upload</h1>
    </div>

  </div>

</div>

<div class="container">
<div class="col-md-12">
  <div class="row upload-pic">
    <form method='POST' action='/admin/' enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputFile">Image input</label>
        <input type="file" name='file' class='form-control' id="exampleInputFile">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
</div>


<div class="container">
  <% @images.each do | img | %>
    <div class="well">
      <div class="media">

      	<a class="pull-left" href="">
    		    <img class="media-object" src="<%= img.image.url %>">
  		  </a>
        <a class='btn btn-sm btn-danger' href='/image/<%= img.id %>/delete'>
              <i class='glyphicon glyphicon-trash'></i>
            </a>

    		<div class="media-body">
      		  <h4 class="media-heading">Image</h4>
            <p class="text-center-here">Comment:</p>
            <% img.comments.each do | comment | %>
              <p><%= comment.comment %></p>
            <% end %>
    		</div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= will_paginate @images , renderer: BootstrapPagination::Sinatra %>
    </div>
  </div>
</div>
